@model SchoolApp.Models.Grade


<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.GradeValue)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Student.Display)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Subject.Display)
    </td>
    <td>
        <a class="edit-btn" asp-action="Edit" asp-route-id="@Model.Id" bold>Edit</a>
        <a class="details-btn" asp-action="Details" asp-route-id="@Model.Id" bold>Details</a>
        <form class="delete-form" asp-action="Delete">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="submit" value="Delete" class="delete-btn" />
        </form>
    </td>
</tr>