@model IEnumerable<SchoolApp.Models.Student>

@{
    ViewData["Title"] = "Student";
}

<big-string value="Student"/>

<p>
    <a asp-action="Create">Create new Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" bold>Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" bold>Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" bold red>Delete</a> |
                <a asp-controller="StudentGrades" asp-action="Show" asp-route-id="@item.Id" italic>Grades</a>
            </td>
        </tr>
}
    </tbody>
</table>
